langgraph 
langchain 
langchain_groq
langchain-openai
langchain-huggingface
langchain_chroma
langchain_community
langsmith 
pandas
pydantic
sentence_transformers
huggingface_hub
firecrawl-py 
pymupdf
transformers

# api setting
streamlit
fastapi 
uvicorn
chromadb